.botones {
  display: flex;
  padding: 8px;
  background: lightgray;
}

app-boton {
  margin: 0 8px;

  &.activo {
    button {
      box-shadow: 0 0 10px #ccc;
    }
  }
}

a {
  margin: 0 8px;
  font-family: Arial, Helvetica, sans-serif;

  &.activo {
    font-weight: 900;
  }
}
